<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>flow_master</title>
</head>
<body>
    <hr>
    <h2>调度处理机器查询:</h2>
    <form action="/check_task" method="post">
        <p><span>任务编码: </span><input type="text" style="width:500px;" name="task_id"/> <input type="submit" value="查询"/></p>
    </form>
    <hr>
    
    <script src="{{static_url("js/jquery-3.3.1.min.js")}}"></script>
    <!--script src="{{static_url("js/script.js")}}"></script-->
</body>
